html {
  /* Colors */
  --color-green-dark: #12372a;
  --color-white-1: #fbfada;
  --color-white-faded: #adbc9f;

  /* Sizes */
  --size-small: 0.5rem;
  --size-small-med: 1.25rem;
  --size-medium: 1.5rem;
  --size-large: 9rem;
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-5: 5rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-green-dark);
  color: var(--color-white-1);
  font-family: "Quicksand", sans-serif;
}

header {
  height: var(--size-5);
  padding: var(--size-1) var(--size-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: var(--color-white-1);
}

#logo {
  font-weight: bold;
  font-size: var(--size-3);
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header li {
  font-size: var(--size-medium);
  font-family: "Oleo Script", sans-serif;
  margin: 0 var(--size-1);
}

header nav a {
  padding: var(--size-small) var(--size-2);
  border-radius: 8px;
}

header nav a:hover {
  background-color: var(--color-white-1);
  color: var(--color-green-dark);
}
